body{
  margin:0;
  font-family: roboto, Arial;
  padding: 100px 30px 70px 100px;
}


p{
  margin-top: 0;
  margin-bottom: 0;
}


::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
