:root {
  --category: #272727;
  --category-hover: #333
}

.subheader {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 56px;
  right: 30px;
  left: 94px;
  height: 56px;
  white-space: nowrap;
  overflow-x: auto;
  background-color: var(--black-primary);
}

.subheader::-webkit-scrollbar {
  display: none;
}

.subheader button {
  font-size: 14px;
  padding: 8px 12.5px;
  margin: 0 6px;
  border-style: none;
  border-radius: 8px;
}

.selected-category {
  background-color: white;
  cursor: pointer;
  color: black;
}

.category {
  background-color: var(--category);
  transition: background-color 0.2s;
  color: white
}

.category:hover {
  background-color: var(--category-hover);
  cursor: pointer;
}