:root {
  --category: #272727;
  --category-hover: #333
}

.categories-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  z-index: 100;
  position: fixed;
  top: 56px;
  right: 30px;
  left: 94px;
  height: 56px;
  white-space: nowrap;
  gap: 16px;
  background-color: var(--black-primary);
}

.categories-next-prev {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  width: 40px;
  height: 30px;
  border-radius: 30px;
  flex: auto;
  cursor: pointer;
}

.categories-next-prev:hover {
  background-color: #333;
}

.categories-next-prev:focus {
  outline: none;
}

.subheader {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.subheader::-webkit-scrollbar {
  display: none;
}

.subheader button {
  font-size: 14px;
  padding: 8px 12.5px;
  margin: 0 6px;
  border-style: none;
  border-radius: 8px;
}

.selected-category {
  background-color: white;
  cursor: pointer;
  color: black;
}

.category {
  background-color: var(--category);
  transition: background-color 0.2s;
  color: white
}

.category:hover {
  background-color: var(--category-hover);
  cursor: pointer;
}


@media (max-width: 800px) {
  .subheader {
    left: 30px;
  }
}