.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  width: 72px;

  background-color: var(--black-primary);

  display: flex;
  flex-direction: column;
  z-index: 200;

  transition: transform 70ms ease-out;
}

.SB {
  width: 100%;
  border-radius: 5px;
  font-size: 10px;
  border-style: none;
  height: 76px;
  background-color: var(--black-primary);
  transition: background-color 0.1s;
  color: var(--text-color)
}

.SB:hover {
  background-color: var(--black-secondary);
  cursor: pointer;
}

.SB img {
  width: 24px;
  margin-bottom: 4.5px;
}


@media (max-width: 800px) {
  .sidebar {
    transform: translateX(-75px);
  }

  .sidebar.show-sidebar {
    transform: translateX(0);

  }
}