.vid-div:active {
  background-color: rgb(235, 235, 235);
  border-radius: 6px;
}

.vid-grid {
  display: grid;
  position: absolute;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 25px;
  margin: 40px 30px 0 0;
}


.thumbnail-grid {
  position: relative;
  z-index: 50;
  width: 100%;
  transition: all 0.15s;
  border-radius: 12px;
}

.thumbnail-grid:hover {
  transform: scale(1.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 150;
  transition-delay: 1.5s;
}

.thumbnail-grid:hover .popup {
  visibility: visible;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition-delay: 1.5s;
}

.thumbnail-grid:hover .thumbnail-pic {
  border-radius: 12px 12px 0 0;
  transition-delay: 1.5s;
}


.thumbnail-pic {
  object-fit: contain;
  width: 100%;
  border-radius: 12px;
}

.vid-time {
  position: absolute;
  bottom: 10px;
  right: 5px;

  font-weight: 500;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 4px;
  color: white;
  padding: 3px 4px;
}

.stats-grid {
  display: grid;
  grid-template-columns: 40px 1fr;
}

.pfp-div {
  margin-top: 14px;
}

.stats-div {
  margin: 14px 0 0 12px;
}

.pfp {
  width: 100%;
  border-radius: 50%;
}

.vid-title {
  font-weight: 500;
  color: black;
  font-size: 14px;
  margin-bottom: 12px;
  line-height: 22px;
  text-decoration: none;
  display: block;
}

.vid-author,
.vid-stats {
  color: rgb(106, 105, 105);
  font-size: 12px;
  margin-bottom: 4px;
  text-decoration: none;
  display: block;
}


@media (max-width: 500px) {
  .vid-grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 501px) and (max-width: 850px) {
  .vid-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1200px) {
  .vid-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.vid-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}