.header{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 56px;
  background-color: white;

  position: fixed;
  z-index: 200;
  top:0;
  right: 0;
  left: 0;

}

.left-section{
  width:184px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.hamburger-menu{
  height: 24px;
  margin: 0 24px;
  cursor: pointer;
}

.mid-section{
  flex: 1;
  margin: 0 35px 0 60px;
  max-width: 675px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.search-bar{
  padding-left: 15px;
  margin-left: 23px;
  height: 40px;
  border: 1px solid rgb(211,211,211);
  border-radius: 20px 0 0 20px;
  flex: 1;
  width:0;
  font-size: 16.3px;

}
.search-bar::placeholder{
  font-size: 16.3px;
}

.search-button{
  height:40px;
  width: 62px;
  border: 1px solid rgb(211,211,211);
  border-radius: 0 20px 20px 0;
  margin-left: -1px;
  background-color: rgb(248, 248, 248);
  transition: background-color 0.2s;
}

.voice-button{
  height:40px;
  width: 40px;
  margin-left: 10px;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(248, 248, 248);
  transition: background-color 0.2s;
}

.right-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 24px;

}

.IB{
  height:40px;
  width: 40px;
  margin: 0 5px;
  border-radius: 20px;
  border-style: none;
  transition: background-color 0.2s;
}

.my-pfp{
  height: 33px;
  border-radius: 20px;
  margin-left: 12px;
}

.notif-count{
  position: absolute;
  top:2px;
  right: 0px;

  background-color: rgb(204,0,0);
  color:white;
  padding: 0 4px;
  font-size: 12px;
  border: 2px solid white;
  border-radius: 10px;
}

.search-button,
.voice-button,
.IB{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolkit{
  position: absolute;
  bottom: -50px;
  white-space: nowrap;
  z-index: 200;

  font-style: roboto,arial;
  font-size: 12px;
  padding: 10px 8px;
  background-color: rgba(52, 52, 52, 0.7);
  border-radius: 3px;
  color: white;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}

.search-button:hover .toolkit,
.voice-button:hover .toolkit,
.IB:hover .toolkit{
  opacity: 1;
}

.search-button:hover,
.voice-button:hover,
.IB:hover{
  background-color: rgb(216, 216, 216);
  cursor: pointer;
}

@media (max-width: 650px){
  .search-bar{
    display: none;
  }
  .mid-section button{
    border-style: none;
    background-color: white;
  }
}




